In [977]:
#import all libraries
import pandas as pd
import requests
import bs4
import re
import logging
import concurrent.futures
import threading
from time import sleep
from datetime import datetime

In [978]:
def get_links():
    urls = list(pd.read_csv('books_url.csv')['link'])
    return urls

In [979]:
def get_response(input_url):
    headers = {
        'User-Agent': 'My User Agent 1.0',
        "Accept-Language": "en-US,en;q=0.5"
    }
    response = requests.get(input_url, headers=headers)
    return response

In [980]:
def get_soup(input_url):
    headers = {
        'User-Agent': 'My User Agent 1.0',
        "Accept-Language": "en-US,en;q=0.5"
    }
    response = requests.get(input_url, headers=headers)
    if response.status_code != 200:
        print("Error in getting link")
        print("response code is : ", response.status_code)
    soup = bs4.BeautifulSoup(response.text, 'html.parser')
    return soup

In [981]:
def get_fa_title(soup):
    title = soup.select('.product-name strong')[0]
    return title.text

In [982]:
def get_en_title(soup):
    title = soup.select('.product-name-englishname')[0]
    return title.text

In [983]:
def get_price(soup):
    price = soup.select('.price-broken , .col-md-7 .price:nth-child(1)')[0].text
    return int(price.replace(',', ''))

In [984]:
def get_discount(soup):
    try:
        discount_price = int(soup.select('.col-md-12+ .clearfix .price-special')[0].text.replace(',', ''))
        discount_price = ((get_price(soup) - discount_price) / get_price(soup)) * 100
    except Exception:
        discount_price = 0
        logging.exception("This book has no discount!")
    return discount_price

In [985]:
def get_score(soup):
    soup = soup.find('div', {'class': 'col-md-7'}).find('li', {'class': 'pull-left'}).find('div',
                                                                                           {'class': 'my-rating'})
    soup_str = str(soup)

    match = re.search(r'data-rating="(\d+\.\d+)"', soup_str)
    if match:
        data_rating = match.group(1)
        return data_rating

In [986]:
def get_publisher(soup):
    try:
        publisher_tag = soup.select('div.prodoct-attribute-items:nth-child(1) > a')[0]
        publisher_link=publisher_tag.get('href')
        publisher_id=publisher_link.split('/')[2].split('-')[0]
        publisher_name=publisher_tag.text.strip()
    except Exception:
        publisher_link=-1
        publisher_id=-1
        publisher_name=-1
    return {'id':publisher_id,'name':publisher_name,'link':publisher_link}

In [987]:
def get_author(soup):
    authors_list=[]          
    try:
        authors_a_tag = soup.select('.prodoct-attribute-items+ .prodoct-attribute-items > a')
        if(len(authors_a_tag))==0:
                return authors_list
        for author_a_tag in authors_a_tag:
                author_link=author_a_tag.get('href')
                author_id=author_link.split('/')[2].split('-')[0]
                author_name=author_a_tag.text.strip()
                authors_list.append({'id':author_id,'name':author_name,'link':author_link})
    except Exception:
         authors_list=[]         
    return authors_list

In [988]:
def is_author_available(soup):
    try:
        existence = soup.select('.pull-left+ li span')[0].text
    except:
        existence = None
        logging.exception("This book has no author!")
    return existence

In [989]:
def get_book_attribute(soup):
    rows = soup.find('table', {'class': 'product-table'}).findAll('td')
    code = -1
    isbn = -1
    size = -1
    pages = -1
    per_cal = -1
    ad_cal = -1
    material = -1
    series = -1
    send_time = -1
    language = 'فارسی'
    translators=[]
    paper_type=-1
    code_flag = 0
    isbn_flag = 0
    size_flag = 0
    pages_flag = 0
    per_cal_flag = 0
    ad_cal_flag = 0
    material_flag = 0
    language_flag = 0
    series_flag = 0
    send_time_flag = 0
    translators_flag=0
    paper_type_flag=0
    
    for row in rows:
        text = row.text.strip()
        if code_flag == 1:
            code = int(text)
            code_flag = 0
        elif isbn_flag == 1:
            isbn = text
            isbn = re.sub('[^0-9-]', '', isbn)
            isbn_flag = 0
        elif size_flag == 1:
            size = text
            size_flag = 0
        elif pages_flag == 1:
            pages = int(text)
            pages_flag = 0
        elif per_cal_flag == 1:
            per_cal = int(text)
            per_cal_flag = 0
        elif ad_cal_flag == 1:
            ad_cal = int(text)
            ad_cal_flag = 0
        elif material_flag == 1:
            material = text
            material_flag = 0
        elif language_flag == 1:
            language = text
            language_flag = 0
        elif series_flag == 1:
            series = int(text)
            series_flag = 0
        elif send_time_flag == 1:
            send_time = text
            send_time_flag = 0
        elif paper_type_flag == 1:
            paper_type = text
            paper_type_flag = 0
        elif translators_flag == 1:
            translators_a_tag = row.select('a')
            translators_flag=0
            for a_tag in translators_a_tag:
                translators.append({'id':a_tag.get('href').split('/')[2].split('-')[0],'name':a_tag.text.strip(),'link':a_tag.get('href')})


        if 'کد کتاب' in text:
            code_flag = 1
        elif 'شابک' in text:
            isbn_flag = 1
        elif 'قطع' in text:
            size_flag = 1
        elif 'تعداد صفحه' in text:
            pages_flag = 1
        elif 'سال انتشار شمسی' in text:
            per_cal_flag = 1
        elif 'سال انتشار میلادی' in text:
            ad_cal_flag = 1
        elif 'نوع جلد' in text:
            material_flag = 1
        elif 'زبان کتاب' in text:
            language_flag = 1
        elif 'سری چاپ' in text:
            series_flag = 1
        elif 'زودترین زمان ارسال' in text:
            send_time_flag = 1
        elif 'مترجم' in text:
            translators_flag = 1
        elif   'نوع کاغذ' in text:
            paper_type_flag=1


    return [code, isbn, size, pages, per_cal, ad_cal, material, series,language, send_time,translators,paper_type]

In [990]:
def get_summary(soup):
    summary = soup.select('.product-description')[0].text.strip()
    return summary

In [991]:
def get_tags(soup):
    tags = soup.select('.product-tags-item')
    tags_list = []
    for tag in tags:
        tags_list += [tag.text.strip()]
    return tags_list

In [992]:
def get_book_detail(book_soup, site_index):
    book_fa_title = get_fa_title(book_soup)
    book_en_title = get_en_title(book_soup)
    book_price = get_price(book_soup)
    book_discount_percent = get_discount(book_soup)
    book_score = get_score(book_soup)
    book_publisher = get_publisher(book_soup)
    book_author = get_author(book_soup)
    book_author_presence = is_author_available(book_soup)

    [book_code, book_Isbn, book_size, book_pages, book_publication_per_date, book_publication_ad_date,
     book_cover_material, book_print_series,book_language, book_earliest_send_time,book_translators,paper_type] = get_book_attribute(book_soup)
    price_history_data_list.append({'book_id':int(book_code),'price':book_price,'discount':int(book_discount_percent),'date':str(datetime.today())})
  
    publishers_data_list.append(book_publisher)  #8th column is dict of publisher
    

    #writer
    writer_page_data_list.extend(book_author)     #9th index is the writer column which is a list of writers
    writers_list_of_dict=book_author.copy()        #writes list which is a list of dictionary
    if len(writers_list_of_dict)!=0:
        for w_id in writers_list_of_dict:
            books_writers_data_list.append({'book_id':int(book_code),'writer_id':w_id['id']})

    #translator

    translator_page_data_list.extend(book_translators)
    translators_list_of_dict=book_translators.copy()        #writes list which is a list of dictionary
    if len(translators_list_of_dict)!=0:
        for t_id in translators_list_of_dict:
            books_translators_data_list.append({'book_id':int(book_code),'translator_id':t_id['id']})
    book_publisher=book_publisher['id']               #convert 8th column from dict to the publisher's id
    book_data = [site_index, int(book_code), book_Isbn, book_fa_title, book_en_title,
                 book_score, book_publisher,
                 int(book_pages), int(book_publication_per_date), int(book_publication_ad_date), book_size,
                 book_cover_material,
                  int(book_print_series),book_language, book_earliest_send_time, book_author_presence,paper_type]
    return book_data

In [993]:
def get_book_site_veneration(soup, site_index):
    div = soup.find('div', attrs = {'class':'col-md-6 col-xs-12'})
    ven_lst = list()
    try:
        english_bars = div.find_all('div', attrs = {'class':'english-bar ltr'})
        persian_bars = div.find_all('div', attrs = {'class':'persian-bar'})
        prise_writers = div.find_all('div', attrs = {'class':'prise-writer ltr'})
        
        n = len(english_bars)
        for i in range(n):
            english_quote = english_bars[i].text.strip()
            persian_quote = persian_bars[i].text.strip()
            prise_writer = prise_writers[i].text.strip()

            ven_dic = {'site_index':site_index,
                       'English_Quote': english_quote,
                       'Persian_Quote': persian_quote,
                       'Prise_Writer': prise_writer}
            ven_lst.append(ven_dic)
        return(ven_lst)
    except:
        return ven_lst

In [994]:
def get_book_site_summary(book_soup, site_index):
    try:
        book_summary = get_summary(book_soup)
    except Exception:
        book_summary = None
        logging.exception("This book has no summary!")
    return [site_index, book_summary]

In [995]:
def get_book_site_tags(book_soup, site_index):
    book_tags = get_tags(book_soup)
    book_tags_list = []
    for tag in book_tags:
        book_tags_list += [[site_index, tag]]
    return book_tags_list

In [996]:
def get_book_site_awards(book_soup, site_index):
    awards=[]
    n=len(book_soup.select('.product-features h4'))
    for i in range(0,n):
        awards.append({'site_index':site_index,'award':book_soup.select('.product-features h4')[i].text})
    return awards

In [997]:
def get_req_list(list, req_count):
    if len(list) >= req_count:
        request_list = list[:req_count].copy()
    else:
        request_list = list.copy()
    return request_list

In [998]:
def scrape(site_soup):
    try:
        with lock:
            global site_index
            site_summary_data_list.append(get_book_site_summary(site_soup, site_index))
            site_tags_data_list.extend(get_book_site_tags(site_soup, site_index))
            site_page_books = site_soup.select('.clearfix .clearfix .row')
            for book_index in range(0, len(site_page_books), 2):
                data = get_book_detail(site_page_books[book_index], site_index)
                books_data_list.append(data)
            site_index += 1
    except Exception:
        logging.exception("An error occurred")

In [999]:
def fast_scrape(link):
    try:
        site_soup = get_soup(link)
        with lock:
            global site_index
            site_summary_data_list.append(get_book_site_summary(site_soup, site_index))
            site_tags_data_list.extend(get_book_site_tags(site_soup, site_index))
            book_veneration_data_list.extend(get_book_site_veneration(site_soup,site_index))
            site_award_data_list.extend(get_book_site_awards(site_soup,site_index))
            site_page_books = site_soup.select('.clearfix .clearfix .row')
            for book_index in range(0, len(site_page_books), 2):
                data = get_book_detail(site_page_books[book_index], site_index)
                # price_history_data_list.append({'book_id':data[1],'price':data[5],'discount':data[6],'date':str(datetime.today())})
                # writer_page_data_list.extend(data[9])     #9th index is the writer column which is a list of writers
                # publishers_data_list.append(data[8])  #8th column is dict of publisher
                # data[8]=data[8]['id']                 #convert 8th column from dict to the publisher's id
                # writers_list_of_dict=data[9]          #writes list which is a list of dictionary
                # data.pop(9)                           #remove 9th column from data(9th column was writers)
                # data.pop(5)                           #remove 5th column which is price column
                # data.pop(5)                           #remove 5th column which is discount after deleting price
                # for w_id in writers_list_of_dict:
                #      books_writers_data_list.append({'book_id':data[1],'writer_id':w_id['id']})
                books_data_list.append(data)
            site_index += 1
    except Exception:
        logging.exception("An error occurred")

<h1>Detailed Scraper</h1>

In [1000]:
# links = get_links()[:200] + ['https://www.iranketab.ir/book/270-gone-with-the-wind']

# page_response = []
# books_data_list = []
# site_tags_data_list = []
# site_summary_data_list = []

# site_index = 1
# sleep_time = 0.5
# max_threads = 20
# book_count_request = 20  #number of requests per time

# lock = threading.Lock()
# book_urls = links.copy()

# while len(book_urls):
#     sleep(sleep_time)  #sleep so that the site does not ban us
#     request_list = get_req_list(book_urls, book_count_request)  #list of book's urls we want to send request 
#     with concurrent.futures.ThreadPoolExecutor(max_workers=max_threads) as executor:
#         future_list = executor.map(get_response, request_list)
#         for future in future_list:
#             try:
#                 data = future
#                 page_response.append(data)
#             except Exception as exc:
#                 continue
#         for item in page_response:
#             if item.status_code == 200:
#                 page_url = item.url
#                 if page_url in request_list:
#                     page_soup = bs4.BeautifulSoup(item.content, 'html.parser')
#                     scrape(page_soup)
#                     book_urls.remove(page_url)

<h1>Fast Scraper</h1>

In [ ]:
links = get_links()[:200]
#+ ['https://www.iranketab.ir/book/270-gone-with-the-wind']

books_data_list = []
site_tags_data_list = []
site_summary_data_list = []
site_award_data_list=[]

writer_page_data_list=[]
translator_page_data_list=[]
publishers_data_list=[]
price_history_data_list=[]
book_veneration_data_list=[]
#middle tables
books_writers_data_list=[]
books_translators_data_list=[]


site_index = 1
max_threads = 20

lock = threading.Lock()

with concurrent.futures.ThreadPoolExecutor(max_workers=max_threads) as executor:
    executor.map(fast_scrape, links)

<h1>Check Completnes</h1>

In [1002]:
if len(book_urls) == 0:
    print('All links scraped!')
else:
    print('Something wrong happened')

<h1>Make Dataframes</h1>

In [1003]:
tableOfData = pd.DataFrame(books_data_list,
                           columns=['site_index', 'code', 'Isbn', 'fa_title', 'en_title', 'score',
                                    'publisher_id', 'pages', 'publication_per_date', 'publication_ad_date',
                                    'size', 'cover_material', 'print_series','language' ,'earliest_send_time', 'presence','paper_type'])
tableOfData=tableOfData[tableOfData['code']!=-1]

In [1004]:
tableOfData

,site_index,code,Isbn,fa_title,en_title,score,publisher_id,pages,publication_per_date,publication_ad_date,size,cover_material,print_series,language,earliest_send_time,presence,paper_type
0,1,112266,978-6226712989,کتاب مجاز,Allowed,3.13,1875,119,1402,-1,رقعی,شومیز,1,فارسی,8 مهر,موجود,-1
1,2,67734,978-6007084205,کتاب روابط بیزانس و ایران,Ravebet Bizanso Iran,3.62,1988,312,1393,-1,وزیری,شومیز,1,فارسی,5 مهر,موجود,-1
2,3,67445,978-9640363584,کتاب رویکردهای یادگیری نظریه و کاربست,Approaches to Learning,3.07,1967,362,1399,2008,وزیری,شومیز,5,فارسی,---,تمام شد ، اما میاریمش 😏,-1
3,4,7204,9782000547822,کتاب نرگس + عشق,Narcisuss + Love,3.21,51,228,1395,2002,رقعی,شومیز,1,فارسی,---,تمام شد ، اما میاریمش 😏,-1
5,6,115076,978-6001176869,کتاب درس هایی از زندگی هاوکینگ,How to Think Like Stephen Hawking,3.86,42,176,1402,2016,رقعی,شومیز,1,فارسی,5 مهر,موجود,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,193,110410,978-6004411028,کتاب ادب عاشقی,Adab-e Asheghi,3.36,1873,168,1398,-1,رقعی,شومیز,3,فارسی,8 مهر,موجود,-1
220,194,57694,978-6001944031,کتاب برادران واویلا 1,"Snarf Attack, Underfoodle, and the Secret of ...",3.05,1186,148,1398,2004,رقعی,شومیز,3,فارسی,8 مهر,موجود,-1
221,195,34500,978-6004366670,کتاب شهر اندوه,A City of Sadness,3.22,81,135,1399,2002,رقعی,شومیز,2,فارسی,5 مهر,موجود,-1
222,196,34605,978-6001212055,کتاب زندگی میکل آنژ,Life of Michelangelo,3.15,81,175,1400,1907,رقعی,شومیز,8,فارسی,---,به زودی 🙄,-1
223,197,43592,978-9643499587,کتاب اتل متل این پسرک,Atal matal in pesarak,3.75,30,32,1399,-1,خشتی,زرکوب,7,فارسی,---,تمام شد ، اما میاریمش 😏,-1

In [1005]:
table_of_cover_type=pd.DataFrame(tableOfData['cover_material'].drop_duplicates())
table_of_cover_type=table_of_cover_type[table_of_cover_type['cover_material']!=-1].reset_index(drop=True)
table_of_cover_type.to_csv('./cover_type.csv',encoding='utf-8')
table_of_cover_type

  cover_material
0          شومیز
1        جلد سخت
2         سلفونی
3        جلد نرم
4          زرکوب

In [1006]:
table_of_format=pd.DataFrame(tableOfData['size'].drop_duplicates())
table_of_format=table_of_format[table_of_format['size']!=-1].reset_index(drop=True)
table_of_format.to_csv('./format.csv',encoding='utf-8')
table_of_format

      size
0     رقعی
1    وزیری
2     رحلی
3     جیبی
4     خشتی
5  پالتویی

In [1007]:
def convert_size_to_int(size):
    try:
     return table_of_format.index[table_of_format['size']==str(size)].to_list()[0]
    except:
        return -1

tableOfData['size']=tableOfData['size'].apply(convert_size_to_int)

In [1008]:
def convert_cover_type_to_int(material):
    try:
     return table_of_cover_type.index[table_of_cover_type['cover_material']==str(material)].to_list()[0]
    except:
        return -1

tableOfData['cover_material']=tableOfData['cover_material'].apply(convert_cover_type_to_int)

In [1009]:

tableOfData.to_csv("bookData.csv", index=False, encoding='utf-8')

In [1010]:
tableOfData

,site_index,code,Isbn,fa_title,en_title,score,publisher_id,pages,publication_per_date,publication_ad_date,size,cover_material,print_series,language,earliest_send_time,presence,paper_type
0,1,112266,978-6226712989,کتاب مجاز,Allowed,3.13,1875,119,1402,-1,0,0,1,فارسی,8 مهر,موجود,-1
1,2,67734,978-6007084205,کتاب روابط بیزانس و ایران,Ravebet Bizanso Iran,3.62,1988,312,1393,-1,1,0,1,فارسی,5 مهر,موجود,-1
2,3,67445,978-9640363584,کتاب رویکردهای یادگیری نظریه و کاربست,Approaches to Learning,3.07,1967,362,1399,2008,1,0,5,فارسی,---,تمام شد ، اما میاریمش 😏,-1
3,4,7204,9782000547822,کتاب نرگس + عشق,Narcisuss + Love,3.21,51,228,1395,2002,0,0,1,فارسی,---,تمام شد ، اما میاریمش 😏,-1
5,6,115076,978-6001176869,کتاب درس هایی از زندگی هاوکینگ,How to Think Like Stephen Hawking,3.86,42,176,1402,2016,0,0,1,فارسی,5 مهر,موجود,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,193,110410,978-6004411028,کتاب ادب عاشقی,Adab-e Asheghi,3.36,1873,168,1398,-1,0,0,3,فارسی,8 مهر,موجود,-1
220,194,57694,978-6001944031,کتاب برادران واویلا 1,"Snarf Attack, Underfoodle, and the Secret of ...",3.05,1186,148,1398,2004,0,0,3,فارسی,8 مهر,موجود,-1
221,195,34500,978-6004366670,کتاب شهر اندوه,A City of Sadness,3.22,81,135,1399,2002,0,0,2,فارسی,5 مهر,موجود,-1
222,196,34605,978-6001212055,کتاب زندگی میکل آنژ,Life of Michelangelo,3.15,81,175,1400,1907,0,0,8,فارسی,---,به زودی 🙄,-1
223,197,43592,978-9643499587,کتاب اتل متل این پسرک,Atal matal in pesarak,3.75,30,32,1399,-1,4,4,7,فارسی,---,تمام شد ، اما میاریمش 😏,-1

In [1011]:
tableOfSummaryData = pd.DataFrame(site_summary_data_list, columns=['site_index', 'summary']).drop_duplicates(subset=['site_index','summary'])
tableOfSummaryData=tableOfSummaryData[tableOfSummaryData.notnull().all(axis=1)]
tableOfSummaryData

     site_index                                            summary
1             2  کتاب حاضر، پژوهشی است که در آن مسئله اصلی این ...
2             3  نظریه‌های یادگیری از دروس مهم در دوره‌های کارش...
3             4  موضوع داستان به این صورت است: «شخصیت اصلی این ...
4             5  ساعت خوش نام مجموعه تلویزیونی است که در سال ۱۳...
5             6  کتاب «درس‌هایی از زندگی استیون هاوکینگ» بنا دا...
..          ...                                                ...
195         193  کتاب «ادب عاشقی» با موضوع «آداب حضور در مجالس ...
196         194  این کتاب داستان دو برادر کله پوک و بامزه را در...
197         195  برنیس رنو استاد موسسه هنر کالیفرنیا از رشته ها...
198         196  زندگی میکل آنژ یکی از بارزترین نمونه های تأثیر...
199         197  ترانه های این مجموعه با جلب توجه خردسالان به م...

[156 rows x 2 columns]

In [1012]:
tableOfSummaryData.to_csv( "BookSummaryData.csv", index=False, encoding='utf-8')

In [1013]:
tableOfSiteTagsData = pd.DataFrame(site_tags_data_list, columns=['site_index', 'tag'])\
    .drop_duplicates(subset=['site_index','tag'])
tableOfSiteTagsData

      site_index             tag
0              1  ادبیات داستانی
1              1    ادبیات معاصر
2              1   مجموعه داستان
3              1    داستان کوتاه
4              1    ادبیات ایران
...          ...             ...
1006         197  ادبیات داستانی
1007         197    ادبیات ایران
1008         197       کتاب کودک
1009         197        شعر کودک
1010         197       کتاب مصور

[1004 rows x 2 columns]

In [1014]:
table_of_tag=pd.DataFrame(tableOfSiteTagsData['tag']).drop_duplicates(subset=['tag']).reset_index(drop=True)
table_of_tag.to_csv('./tag.csv',encoding='utf-8')
table_of_tag

                            tag
0                ادبیات داستانی
1                  ادبیات معاصر
2                 مجموعه داستان
3                  داستان کوتاه
4                  ادبیات ایران
..                          ...
200  جایزه ی داستان جنایی آلمان
201                        درام
202                    ناداستان
203              داستان ماجرایی
204             دهه 1900 میلادی

[205 rows x 1 columns]

In [1015]:
def convert_tag_to_int(tag):
    try:
     return table_of_tag.index[table_of_tag['tag']==str(tag)].to_list()[0]
    except:
        return -1

tableOfSiteTagsData['tag']=tableOfSiteTagsData['tag'].apply(convert_tag_to_int)

In [1016]:
tableOfSiteTagsData

      site_index  tag
0              1    0
1              1    1
2              1    2
3              1    3
4              1    4
...          ...  ...
1006         197    0
1007         197    4
1008         197   31
1009         197  110
1010         197    8

[1004 rows x 2 columns]

In [1017]:
tableOfSiteTagsData.to_csv('bookTagsData.csv',index=False,encoding='utf-8')

In [1018]:
table_of_publisher=pd.DataFrame(publishers_data_list).drop_duplicates(subset=['id','name','link'])
table_of_publisher.to_csv('./publisher.csv',index=False,encoding='utf-8')
table_of_publisher

       id            name                                               link
0    1875            اریش           /publisher/1875-%d8%a7%d8%b1%db%8c%d8%b4
1    1988            بعثت           /publisher/1988-%d8%a8%d8%b9%d8%ab%d8%aa
2    1967   دانشگاه تهران  /publisher/1967-%d8%af%d8%a7%d9%86%d8%b4%da%af...
3      51  کتابسرای تندیس  /publisher/51-%da%a9%d8%aa%d8%a7%d8%a8%d8%b3%d...
4    1470            سروش           /publisher/1470-%d8%b3%d8%b1%d9%88%d8%b4
..    ...             ...                                                ...
216  1254            مولی           /publisher/1254-%d9%85%d9%88%d9%84%db%8c
217  1427          فارابی  /publisher/1427-%d9%81%d8%a7%d8%b1%d8%a7%d8%a8...
218  1265    حرفه نویسنده  /publisher/1265-%d8%ad%d8%b1%d9%81%d9%87-%d9%8...
220  1186        حوض نقره  /publisher/1186-%d8%ad%d9%88%d8%b6-%d9%86%d9%8...
221    81   علمی و فرهنگی  /publisher/81-%d8%b9%d9%84%d9%85%db%8c-%d9%88-...

[165 rows x 3 columns]

In [1019]:
books_writers_data_list=list(filter(bool, books_writers_data_list))
table_of_writer=pd.DataFrame(books_writers_data_list).drop_duplicates(subset=['book_id','writer_id'])
#drop rows which both book_id and writer_id is -1
table_of_writer=table_of_writer[(table_of_writer['book_id']!=-1) & (table_of_writer['writer_id']!=-1)]
table_of_writer.to_csv('./writer.csv',index=False,encoding='utf-8')
table_of_writer

     book_id writer_id
0     112266     31542
1      67734     37624
2      67445      3274
3      67445     26997
4       7204      4985
..       ...       ...
218   110410     65522
219    57694     31297
220    34500     19936
221    34605        85
222    43592     24833

[222 rows x 2 columns]

In [1020]:
table_of_writer_page=pd.DataFrame(writer_page_data_list).drop_duplicates(subset=['id','name','link'])
table_of_writer_page.to_csv('./writer_page.csv',index=False,encoding='utf-8')
table_of_writer_page

,id,name,link
0,31542,جواد ترشیزی,/profile/31542-%d8%ac%d9%88%d8%a7%d8%af-%d8%aa...
1,37624,کاظم میقانی,/profile/37624-%da%a9%d8%a7%d8%b8%d9%85-%d9%85...
2,3274,مجموعه ی نویسندگان,/profile/3274-group-of-authors
3,26997,آن جردن,/profile/26997-anne-jordan
4,4985,بنفشه حجازی,/profile/4985-banafshe-hejazi
...,...,...,...
217,681,راینر ماریا ریلکه,/profile/681-rainer-maria-rilke
219,31297,مری آماتو,/profile/31297-mary-amato
220,19936,برنیس رنو,/profile/19936-b%c3%a9r%c3%a9nice-reynaud
221,85,رومن رولان,/profile/85-romain-rolland
222,24833,رها زادمهر,/profile/24833-%d8%b1%d9%87%d8%a7-%d8%b2%d8%a7...

In [1021]:
table_of_translator=pd.DataFrame(books_translators_data_list).drop_duplicates(subset=['book_id','translator_id'])
table_of_translator=table_of_translator[(table_of_translator['book_id']!=-1) & (table_of_translator['translator_id']!=-1)]
table_of_translator.to_csv('./translator.csv',index=False,encoding='utf-8')
table_of_translator

     book_id translator_id
0      67445         24867
1     115076         33130
2      25277         14441
3      14109           569
4      25342         43843
..       ...           ...
108    60815         27357
109    60686          8031
110    57694          5736
111    34500         19935
112    34605          4459

[113 rows x 2 columns]

In [1022]:
table_of_translator_page=pd.DataFrame(translator_page_data_list).drop_duplicates(subset=['id','name','link'])
table_of_translator_page.to_csv('translator_page.csv',index=False,encoding='utf-8')
table_of_translator_page

,id,name,link
0,24867,الهه حجازی,/profile/24867-%d8%a7%d9%84%d9%87%d9%87-%d8%ad...
1,33130,فاریا جنیدی,/profile/33130-%d9%81%d8%a7%d8%b1%db%8c%d8%a7-...
2,14441,مهرداد تویسرکانی,/profile/14441-mehrdad-tuyserkani
3,569,فروغ پوریاوری,/profile/569-fourough-pouryavari
4,43843,مصطفی امیری,/profile/43843-mostafa-amiri
...,...,...,...
108,27357,حمیدرضا گرشاسبی,/profile/27357-%d8%ad%d9%85%db%8c%d8%af%d8%b1%...
109,8031,پیمان چهرازی,/profile/8031-%d9%be%db%8c%d9%85%d8%a7%d9%86-%...
110,5736,مهناز ایلدرمی,/profile/5736-%d9%85%d9%87%d9%86%d8%a7%d8%b2-%...
111,19935,آزاده جعفری,/profile/19935-%d8%a2%d8%b2%d8%a7%d8%af%d9%87-...
112,4459,اسماعیل سعادت,/profile/4459-%d8%a7%d8%b3%d9%85%d8%a7%d8%b9%d...

In [1023]:
table_of_price_history=pd.DataFrame(price_history_data_list).drop_duplicates(subset=['book_id','price','discount','date'])
table_of_price_history=table_of_price_history[table_of_price_history.book_id!=-1]
table_of_price_history.to_csv('./price-history.csv',index=False,encoding='utf-8')
table_of_price_history

     book_id   price  discount                        date
0     112266  100000        15  2023-09-25 12:35:24.164146
1      67734  180000        30  2023-09-25 12:35:25.300355
2      67445   72000         0  2023-09-25 12:35:25.853217
3       7204   15000         0  2023-09-25 12:35:28.001299
5     115076  128000        15  2023-09-25 12:35:28.208554
..       ...     ...       ...                         ...
219   110410   55000        20  2023-09-25 12:36:16.426652
220    57694  140000        25  2023-09-25 12:36:16.527611
221    34500   74000        15  2023-09-25 12:36:16.612644
222    34605   32000         0  2023-09-25 12:36:16.709620
223    43592   80000         0  2023-09-25 12:36:16.827007

[220 rows x 4 columns]

In [1024]:
book_veneration_data_list=list(filter(bool, book_veneration_data_list))
table_of_book_veneration=pd.DataFrame(book_veneration_data_list).drop_duplicates(subset=['site_index','English_Quote','Persian_Quote','Prise_Writer'])
table_of_book_veneration.to_csv('./book_veneration.csv',index=False,encoding='utf-8')
table_of_book_veneration

,site_index,English_Quote,Persian_Quote,Prise_Writer
0,23,One of Faulkner’s comic masterpieces.,از شاهکارهای کمیک فاکنر,barnes and noble
1,63,Convincing and compelling.,باورپذیر و مهیج.,School Library Journal
2,63,"A highly imaginative, absolutely terrific firs...",یک رمان نخست فوق العاده خیال پردازانه و شگرف.,Barnes & Noble
3,63,"An exciting, clever read.",داستانی هیجان انگیز و هوشمندانه.,Booktopia
4,100,This stunning work showcases Krauss's consiste...,این اثر خیره کننده، نشان دهنده ی استعداد همیشگ...,Publishers Weekly
5,100,"Masterful, evocative and moving.",استادانه، احساس برانگیز و تکان دهنده.,NPR
6,100,A meditation on memory and loss.,تأملی بر خاطره و فقدان.,Los Angeles Times
7,102,An engrossing forecast.,یک پیش بینی هیجان انگیز.,Publishers Weekly
8,102,"Original, accessible, and provocative.",بدیع، قابل فهم و برانگیزاننده.,Science
9,102,A compelling guide to the challenges and choic...,راهنمایی جذاب برای چالش ها و انتخاب های پیش رو...,Elon Musk
10,118,An interesting and ambitious book.,کتابی جذاب و بلندپروازانه.,The New York Times Book Review
11,118,It gives you the insight to recognise the unde...,این اثر، خرد لازم برای درک انگیزه های نهفته در...,Penguin
12,138,"Brilliantly impassioned, and accessible.",به شکل درخشانی پرشور و قابل فهم.,Goodreads
13,138,A must-read for anyone looking to achieve thei...,اثری ضروری برای هر کسی که به دنبال دستیابی به ...,People
14,138,Filled with stories about achieving greater mi...,سرشار از داستان هایی درباره ی دستیابی به ذهن آ...,
15,148,“This novel is bursting with conspiracy and su...,این رمان با توطئه و فرومایگی و نمایش زشتی که م...,USA Today
16,148,Snow White Must Die... has been a bestseller i...,"کتاب ""سفید برفی باید بمیرد"" از کتاب های پرفروش...",The Washington Post
17,148,It keep readers turning the pages up to the un...,این کتاب خواننده را در وضعیتی غیر قابل پیشبینی...,Library Journal
18,186,"[A] lovely, lilting meditation on memory and l...",تأملی دوست داشتنی و خوش آهنگ بر خاطرات و فقدان...,"Nathan Goldman, Literary Hub"
19,186,A dream-like detective tale set in Paris . . ....,یک داستان پلیسی رویاگونه در پاریس ... رمانی تا...,"Michael Autrey, Booklist"
20,189,Plotted with verve and written with passion.,با داستانی سرزنده و نگارشی پرشور.,Kirkus Reviews
21,189,Magnificent.,باشکوه.,Guardian
22,189,"A lively, gripping book.",کتابی پرنشاط و هیجان انگیز.,Independent

In [1025]:
table_of_award=pd.DataFrame(site_award_data_list).drop_duplicates(subset=['site_index','award'])
table_of_award.to_csv('./award.csv',index=False,encoding='utf-8')
table_of_award

    site_index                                              award
0           23                  برنده ی جایزه ی پولیتزر سال ۱۹۶۳
1           51                               برنده جایزه پولیتزر
2           51    برنده جایزه ی نمایشنامه ی حلقه ی منتقدین نیو...
3           51                         برنده جایزه Tony سال 1987
4           63              نامزد جایزه کتاب ناشر مستقل سال 1999
5           63           برنده جایزه خواننده گرند کنیون سال 1998
6           63      نامزد مدال خوانندگان جوان کالیفرنیا سال 1998
7           63               برنده جایزه سکویا اوکلاهما سال 1998
8          100           برنده ی جایزه ی Anisfield-Wolf سال 2011
9          100               نامزد دریافت جایزه ی اورنج سال 2011
10         100    نازمرد دریافت جایزه ی ملی کتاب آمریکا سال 2010
11         100    نازمرد دریافت جایزه ی بهترین کتاب گودریدز سا...
12         100                  از کتاب های پرفروش نیویورک تایمز
13         102             از پرفروش ترین کتاب های نیویورک تایمز
14         103    رودکی مشهور به استاد شاعران، نخستین شاعر مشه...
15         118            از کتاب های پرفروش روانشناسی در آمریکا
16         118    در فهرست کتاب هایی که زندگی تان را دگرگون خو...
17         138    جزو فهرست کتاب هایی که زندگی تان را دگرگون خ...
18         138           جزو لیست پرفروش ترین های نیویورک تایمز
19         186      مودیانو برنده ی جایزه ی نوبل ادبیات سال 2014
20         189       برنده ی جایزه ی داستان جنایی آلمان سال 1992